<link rel="stylesheet" href="/assets/css_files/_footer.css">

<footer class="footer">
    <div class="container text-center">
      Developed by <span class="color">Saurabh Dixit</span>
        <span>
            <ul class="social-icons">
                <li><a href="mailto:smartds2550@gmail.com" target="_blank"><img width="30" height="30" src="https://img.icons8.com/fluency/30/gmail-new.png" alt="gmail-new"/></a></li>
                <li><a href="https://www.linkedin.com/in/saurabhdixit93" target="_blank"><img width="30" height="30" src="https://img.icons8.com/fluency/30/linkedin-2.png" alt="linkedin-2"/></a></li>
                <li><a href="https://github.com/Saurabhdixit93" target="_blank"><img width="30" height="30" src="https://img.icons8.com/fluency/30/github.png" alt="github"/></a></li>
            </ul>
        </span>
    </div>
</footer>