<title> <%= title %></title>

<section class="container mgn-top" style="display: flex; justify-content: center;">
    <div class="row" >
      <div class="col-lg-6">
        <h2>About Us</h2>
        <p>Welcome to our Image App! Our application allows you to upload, download, and delete images. You can create
          an account to enjoy additional features and personalized experience.</p>
        <p>With our user-friendly interface and secure storage, you can easily manage your images and access them
          anytime, anywhere.</p>
        <p>Join our community of image enthusiasts and start exploring the world of visual creativity!</p>
      </div>
      <!-- <div class="col-lg-6">
        <img src="about-us-image.jpg" class="img-fluid" alt="About Us Image">
      </div> -->
    </div>
</section>