<title><%= title %></title>

<div class="container mgn-top">
    <h1 class="mt-5">Forgot Password</h1>
    <form action="/auth/forgot-password" method="post">
        <div class="form-group mt-4 mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>