<!DOCTYPE html>
<html>
<head>
  <title>Profile Update</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-success">
      <h4 class="alert-heading">Profile Updated Successfully!</h4>
      <p>Hey <span style="color: blue;"><%= user.name %></span></p>
      <p>Your profile information has been successfully updated.</p>
      <hr>
      <p class="mb-0">Thank you for updating your profile.</p>
    </div>
  </div>
</body>
</html>